.kc_row .kc_col-sm-12{
	padding-left:0px !important;
	padding-right:0px !important; 
}
.fact-counter {
	padding:0px 0px 40px;
}
.fact-counter .container {
	padding-top:70px;
	border-top:1px solid #f7f7f7;
}
.clients-section.sec-padd {
    padding: 0 0 70px;
}
.clients-section .container {
    border-top: 1px solid #f7f7f7;
    padding-top: 70px;
}
#main_menu ul li.menu-item-has-children.dropdown {
    display: block !important;
}
span.current {
	display: inline-block;
}
.large-blog-news .thm-unit-test h5 a {
	color: #48c7ec;
}
#comments_form .req_text {
    color: #a2a2a2;
}
#comments_form .loged_in {
    color: #a2a2a2;
}
.product-content-box .content-box {
	margin-left:0px;
}
.woocommerce-Reviews .star-rating {
    float: right !important;
}
.woocommerce-Reviews .meta, .woocommerce-Reviews .meta strong {
    font-size: 18px !important;
    font-weight: 500 !important;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text p {
    margin: 0 0 8px !important;
}
.woocommerce #tab-reviews, .woocommerce #tab-description {
    border: 1px solid #f4f4f4;
    margin-top: 0;
    padding: 0 30px 30px;
}
.woocommerce .shop_table.cart input[name="update_cart"] {
    background: #f7f7f7 none repeat scroll 0 0 !important;
    border-color: #f7f7f7 !important;
    color: #222 !important;
    text-shadow: none;
}
.woocommerce .shop_table.cart input[name="update_cart"]:hover {
    background: #48c7ec none repeat scroll 0 0 !important;
    color: #fff !important;
}

/*****************Custom******************/
.tp-dottedoverlay.twoxtwo{
	background:none;
	background-color:rgba(0,0,0,0.3);
}
.admin-bar .theme_menu.stricky-fixed{
	top:32px;
}
.service .item .overlay-box p{
	padding:0 10px;
}
.single-team-member .img-box a{
	display:block;
}
.share-box .tag-box{
	margin-top:5px;
}
.share-box .tag-box li a{
	display:inline-block;
}
.post-author .social li a{
	color:#1a1a1a;
}
.post-author .social li a:hover{
	color:#48c7ec;
}
.blog-section .text p{
	margin:15px 0;
}
.comment-area .default-form h2 a{
	color:#121212;
}
.comment-area .default-form h2 a:hover{
	color:#337ab7;
}
.comment-area .default-form .thm-btn{
	margin:30px 0 50px;
}
/**************************Custom Widgeta*************************/
.widget_bunch_support_agents{
	margin-top:50px;
}
.sidebar-widget ul {
    background: #f7f7f7 none repeat scroll 0 0;
    margin-bottom: 35px;
    margin-top: 22px;
    padding: 20px 30px;
}
.sidebar-widget ul li {
    border-bottom: 1px solid #eaeaea;
    margin: 0;
	color: #848484;
}
.sidebar-widget ul li:last-child{
	border:none;
}
.sidebar-widget ul li a {
    color: #848484;
    display: inline-block;
	width:88%;
    font-weight: normal;
    line-height: 30px;
    position: relative;
    transition: all 0.5s ease 0s;
	padding:5px 0;
}
.sidebar-widget ul li:hover a,
.sidebar-widget ul li:hover {
    color: #48c7ec;
    transition: all 0.5s ease 0s;
}
.widget_archive label{
	display:none;
}
.widget_archive select {
    background: #f7f7f7 none repeat scroll 0 0;
    color: #848484;
    font-size: 16px;
    padding: 10px 10px;
	width:100%;
	border:none;
}
.widget_archive select option{
	border:none;
}
.tagcloud {
    margin-top: 10px;
    padding: 24px 0;
}
.tagcloud a {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #f1f1f1;
    border-radius: 2px;
    color: #9e9e9e;
    font-size: 15px !important;
    font-weight: normal;
    line-height: 35px;
	height:35px;
    padding: 0 14px;
    text-align: center;
	display: inline-block;
    margin: 0 4px 8px 0;
}
.tagcloud a:hover {
    background: #48c7ec none repeat scroll 0 0;
    color: #ffffff;
}
.pb-bot-70{
	padding-bottom:70px;
}
/*****************Error*******************/
.error_page{
	padding:100px 0;
	max-width:900px;
	margin:0 auto;
	text-align:center;
}
.error_page h3{
	margin-bottom:25px;
}
.error_page h3 span{
	color:#48c7ec;
}
.error_page .sidebar_search{
	margin:30px 0 50px;
}
.why-choose .item .img-box a{
	display:block;
}
.awards p{
	font-weight:500;
}
.rev_slider_wrapper .thm-btn:hover{
	color:#232323 !importnat;
}
.main-footer .posts-widget .post::before, .main-footer .links-widget .list li a::before{
	background:#fafafa;
}
.subscribe .thm-btn{
	height:48px;
}
.search_option.open .search .fa-search::before {
    content: "\f00d";
}
.service-single .kc-col-container .text{
	color: #848484;
    font-family: "Hind",sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
}
.service-single blockquote{
	margin:20px 0 40px;
}
/*--------------------------theme check----------------------------------*/
	#wp-calendar {
		width: 100%;
	}
	#wp-calendar caption {
		text-align: right; 
		color: #333; 
		font-size: 12px; 
		margin-top: 10px;
		margin-bottom: 15px;
	}
	#wp-calendar thead { 
		font-size: 10px;
	}
	#wp-calendar thead th { 
		padding-bottom: 10px;
	}
	#wp-calendar tbody { 
		color: #aaa; 
	}
	#wp-calendar tbody td { 
		background: #f5f5f5; 
		border: 1px solid #fff; 
		text-align: center; 
		padding:8px;
	}
	#wp-calendar tbody td:hover { 
		background: #fff; 
	}
	#wp-calendar tbody .pad { 
		background: none; 
	}
	#wp-calendar tfoot #next { 
		font-size: 10px; 
		text-transform: uppercase; 
		text-align: right;
	}
	#wp-calendar tfoot #prev { 
		font-size: 10px; 
		text-transform: uppercase; 
		padding-top: 10px; 
	}
	
	.sticky .inner-box {background: #efefef; padding:10px; }
	.sticky .inner-box .thm-unit-test {border: 3px solid #fff; padding:20px !important; }
	.sticky .post .post-content{ background-color:transparent; }
	.wp-caption {
	text-align: center;
	background-color: #f3f3f3;
	padding-top: 4px;
	margin: 10px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	}
	.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 17px;
	padding: 0 4px 5px;
	margin: 0;
	}
	.gallery-caption {
	font-family: 'Hind', sans-serif;
  	color:#222222;
  	}
	.bypostauthor{
	font-family: 'Hind', sans-serif;
  	color:#222222;
  	}
	.alignright{ 
		text-align:right;
	}
	.alignleft{ 
		text-align:left;
	}
	.aligncenter{ 
		text-align:center;
	}	
	.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}
/*************************************Theme Unit Testing***********************/
.thm-unit-test .sticky .lower-content,
.thm-unit-test .tag-sticky-2 .lower-content{
	background:#fafafa;
	padding:15px;
}
.thm-unit-test h1,.thm-unit-test h2,.thm-unit-test h3,.thm-unit-test h4,.thm-unit-test h5,.thm-unit-test h6{
	font-family: "Poppins",sans-serif;
	margin-bottom:15px;
	font-weight:400;
	color: #333333;
	line-height:1.2em;
}
.thm-unit-test h1{
	font-size:2em;
}
.thm-unit-test h2{
	font-size:1.6em;
}
.thm-unit-test h3{
	font-size:1.4em;
}
.thm-unit-test h4,.thm-unit-test .text h4{
	font-size:1.2em;
}
.thm-unit-test h5{
	font-size:1.1em;
}
.thm-unit-test h6{
	font-size:1em;
}
.thm-unit-test table{
	margin-bottom:20px;
}
.thm-unit-test table thead tr th{
	border: 1px solid #ddd;
    vertical-align: bottom;
	padding:8px;
}
.thm-unit-test table tbody tr th{
	border: 1px solid #ddd;
    line-height: 1.42857;
    padding: 8px;
    vertical-align: top;
}
.thm-unit-test table tbody tr td{
	border: 1px solid #ddd;
    line-height: 1.42857;
    padding: 8px;
    vertical-align: top;
}
.thm-unit-test ul,.thm-unit-test ol{
	padding-left:18px;
}
.thm-unit-test ul li{
	list-style-type:disc;
	display:list-item;
}
.thm-unit-test ul li ul li{
	list-style-type:circle;
}
.thm-unit-test ul li ul li ul li{
	list-style-type:square;
}
.thm-unit-test ol li{
	list-style-type:decimal;
	display:list-item;
}
.thm-unit-test ol li ol li{
	list-style-type:lower-alpha;
}
.thm-unit-test ol li ol li ol li{
	list-style-type:upper-roman;
}
.thm-unit-test p img,.thm-unit-test figure img,.thm-unit-test img{
	max-width:100%;
	display:block;
	height:auto;
}
figure{
	max-width:100%;
	display:block;
}
.paginate-links {
	margin-top: 15px;
}
.paginate-links a,
.paginate-links > span {
    margin: 0 5px 7px 0;
    position: relative;
	border: 1px solid #1b3953;
    color: #1b3953;
    display: inline-block;
    font-size: 14px;
    font-weight: 800;
    line-height: 24px;
    min-width: 46px;
    padding: 10px 5px;
    text-align: center;
    text-transform: capitalize;
    transition: all 500ms ease 0s;
}
.paginate-links a:hover,
.paginate-links > span{
	background: #48c7ec none repeat scroll 0 0;
    border-color: #48c7ec;
    color: #ffffff;
}
/****************Custom Widget*********************/
.widget_recent_comments ul li{
	padding:6px 0px 6px 0px;
}
.widget select{
	width:100%;
	display:block;
	border:1px solid #ededed;
	padding:6px 6px;
	margin-top:15px;
}
.textwidget img {
    height: auto;
    max-width: 100%;
}
.widget ul{
	padding-bottom:0px;
}
.widget ul li ul{
	padding:0px;
	margin:0px;
}
.widget ul li ul li{
	border-top:1px solid #eaeaea !important;
	border-bottom:none;
}
.thm-unit-test .share-box ul{
	padding-left:0px !important;
}
.thm-unit-test .share-box ul li{
	list-style-type:none !important;
	display:inline-block !important;
}
.thm-unit-test .share-box ul li img{
	display:inline-block !important;
}
.post-password-form input[type="password"]{
	border:1px solid #48c7ec;
	padding:5px 10px;
	display:inline-block;
}
.post-password-form input[type="submit"]{
	background:#48c7ec;
	color:#fff;
	padding:6px 15px; 
	display:inline-block;
	border:none;
	
}
.thm-unit-test .review-box .fr-coment-item .fr-coment-item{
	margin-left:60px;
}
.thm-unit-test .review-box .fr-coment-item .name h4{
	font-size:18px;
}
.thm-unit-test .default-form .section-title h3{
	font-size:24px !important;
}
.thm-unit-test .post-comments.comment-area{
	margin-top:40px;
}
.blog-section .thm-unit-test > p{
	margin-bottom:15px;
}
/*********************Custom Footer widget Styling************************/
.footer-widget h3{
	margin-bottom:30px;
}
.footer-column ul li a{
	padding:0px 0 10px;
}
.footer-column ul li a,.footer-column ul li,.footer-widget .textwidget p{
	color:#ffffff;
}
.footer-widget a{
	color:#fafafa;
}
.footer-widget select{
	width:100%;
	padding:6px;
	color:#222;
}
.footer-widget #wp-calendar caption{
	padding:0px;
	margin:0px 0 15px;
	font-size:14px;
	color:#ffffff;
}
.footer-widget #wp-calendar thead th{
	border:1px solid #fafafa;
	border-bottom:none;
	text-align:center;
	padding:0px;
	line-height:30px;
}
.footer-widget #wp-calendar tbody .pad{
	background:#fafafa;
}
.footer-widget .tagcloud a{
	color:#252525;
}
a{
	color:#48c7ec;
}
a:hover{
	color:#252525;
}
/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption {
    background: #fff;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
        white-space: nowrap;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}
/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.woocommerce #payment ul li{
	list-style-type:none;
}

/************Shop Widget**************/
.sidebar_styleTwo .widget{
	margin-bottom:30px;
}
.woocommerce h5{
	font-size:18px;
	margin-bottom:20px;
}
.woocommerce.widget ul li {
    border-bottom: 1px solid #f1f1f1;
    line-height: 48px;
	position:relative;
}
.woocommerce.widget ul li ul li{
	border-top: 1px solid #f1f1f1;
	border-bottom: none;
}
.woocommerce.widget ul li:before {
    content: "ï„”";
    font-family: "FontAwesome";
    margin-right: 10px;
	color: #9e9e9e;
}
.woocommerce.widget ul li a {
    color: #9e9e9e;
    font-weight: normal;
    position: relative;
}
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
    background: #f7f7f7 !important;
    border: medium none;
    height: 2px !important;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-range {
    background: #252525 !important;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle{
	background: #48c7ec none repeat scroll 0 0 !important;
    border: 2px solid #222;
    border-radius: 50%;
    height: 12px !important;
    margin-left: -4px;
    outline: medium none;
    width: 12px !important;
}
.woocommerce .widget_price_filter .price_slider_amount .button{
	border-radius: 0 !important;
	padding:0 15px !important;
	font-weight:700 !important;
	line-height:30px !important;
	font-size:14px !important;
	font-family: "Hind",sans-serif;
}
.woocommerce .widget_price_filter .price_slider_amount{
	color: #9c9c9c;
    font-weight: 400;
	font-size:14px;
}
.woocommerce.widget ul.product_list_widget li{
	line-height:24px;
	padding:20px 0;
	
}
.woocommerce.widget ul.product_list_widget li a{
	display:block;
	line-height:16px;
}
.woocommerce.widget ul.product_list_widget li img {
    box-shadow: none;
    float: left;
    height: auto;
    margin-left: 0;
    margin-right: 20px;
    width: 28%;
}
.woocommerce.widget ul.product_list_widget li .product-title {
    color: #272727;
    font-size: 16px;
    font-weight: 700;
}
.woocommerce.widget ul.product_list_widget li .star-rating{
	font-size:10px !important;
	margin:8px 0;
}
.woocommerce.widget ul.product_list_widget li .amount {
    color: #48c7ec;
    display: block;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
}
.service-widget.woocommerce{
	margin-bottom:40px;
}
.sidebar_styleTwo .woocommerce ul.product_list_widget{
	background:none;
	border:none;
	margin:0px;
	padding:0px;
}
.woocommerce-cart .cart_item .product-thumbnail img {
    width: 100px;
    height: 100px;
}
.wp-caption-text{
	padding-top:10px;
}
.single-review-box.pingback,
.single-review-box.trackback{
	padding-left:0px;
}
.single-review-box.pingback .img-holder,
.single-review-box.trackback .img-holder{
	display:none;
}